<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    @DateTime.Now
    <br />
    @Request.Url

    @{ 
        var name = "Haitham Qadamani";
        var age = 25;
    }

    <h1>Welcome , Mr. @name</h1>
    <h3>Your age is: @age</h3>
</body>
</html>
