@model MVC_From_Scratch.Models.Customer
    
<table class="table table-bordered table-hover" style="margin-top:100px">
    <tr>
        <td>Customer ID</td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>Customer Name</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Customer Address</td>
        <td>@Model.Address</td>
    </tr>
    <tr>
        <td>Customer Age</td>
        <td>@Model.Age</td>
    </tr>
</table>