@model IntroductionToMVC.Models.Computer

@{
    ViewBag.Title = "Display";
}

<div>
    <b> Computer Name: </b> @Model.Name <br />
    <b> Computer Price: </b> @Model.Price
</div>

<!-- WWW path: http://www.mywebsite.com/login.aspx
     picture path: http://www.mywebsite.com/mypicture.png
     MVC path: http://www.mywebsite.com/myController/myAction/Id
    -->
